{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% block styles %}
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href='{{ url_for("main.index") }}'>User App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-danger" href='{{ url_for("main.user_browser") }}'> User browser <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}
<div class="container">
  {% for category, msg in get_flashed_messages(True) %}
  <div class = "flash {{ category }}"> {{ msg }} </div>
  {% endfor %}
  <h1>Добро пожаловать в User App!</h1>
</div>

{% endblock %}
