h1 {
    margin-top: 150px;
    text-align: center;
    color: gray;
}
.navbar {
    background-color: #e3f2fd;
    margin-bottom: 2%;
}

.btn-group {
    margin-bottom: 2%;
}

.table {
    font-size: 0.8rem;
}
.table .thead-dark th {
    color: #fff;
    background-color: gray;
    vertical-align: middle
}

.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    vertical-align: middle;
}

#myDropzone {
    margin: 5% 5% 2% 5%;
    border: 2px dashed #0087F7;
    border-radius: 20px;
    min-height: 250px;
    background-color:#e3f2fd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.send_button {
     text-align: center;
}

.nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #808080;
    height: 1px;
    transform: scale(0);
    transition: all .3s
}
.nav-item a:hover::after {
    transform: scale(1);
}

.product_line_icons {
    width: 25px;
}
.nav-item {
    display:flex;
}
.navbar-brand {
    padding-top: 0;
}
.form-group {
    margin-bottom: 0.5em;
}
.form-control {
    height: 3em;
    font-size: 0.8rem;
}
.product_line_editor {
    width: 55%
}
.flash {padding: 2px;}
.flash.error {
         border: 1px solid #FF4343;
         background: #FF9C9C;
         width: max-content;
}
.flash.success {
         border: 1px solid #21DB56;
         background: #AEFFC5;
         width: max-content;
}